<span class='name'>
  <input type="text" value="<%= this['name']%>" name="name"/>
</span>
<span>
	<input type='submit' value='Update' class='update'/>
	<a href='javascript://' class='cancel'>cancel</a>
</span>